<div class="lrck--flex lrck--flex-sb">
    <div class="lrck--flex lrck--credits-flex">
        <div class="lrck--credits-type">My Credits</div>
        <div class="lrck--credits-count lrck--flex">
            <div class="lrck--credits-current"></div>
            <div class="lrck--credits-total"></div>
        </div>
        <div class="lrck--credits-sep"></div>
        <iframe class="lrck--ifr" width="24" height="24"></iframe>
    </div>
    <div class="lrck--flex">
        <span class="lrck--logout lrck--dashboard-button">
            <img class="lrck--dashboard-icon" alt="" src="" />
        </span>
    </div>
</div>
